.storeContainer{
    padding-top: 1.5rem;
    width: 100%;
    height: 70vh;
    background-color: #EA984D;
}
.storeContainer h2{
    margin-left:9rem;
    font-weight: bolder;
}
.contentSection{
    padding-top: 2rem;
    width: 100%;
}
.left{
    width: 50%;
}
.right{
    width: 50%;
}
.maps{
    width: 100%;
    height: 23rem;
    margin-left: .8rem;
    border-radius: 8px;
}
.address{
    height: 50%;
}
.contact{
    height: 50%;
    width: 100%;
}
.address h5{
    color: white;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
}
.h3{
    font-weight: bolder;
    font-size: 2rem;
}
.contactItem{
    width: 40%;
}
.contactItem p{
    color: white;
    font-size: 1.3rem;
    margin-left: 4rem;
}